<!DOCTYPE html>
<html lang="sv">
    @Html.Partial("_HtmlHead", new { ViewBag.Title })
    <body id="index">
        <div class="container">
            @RenderBody()
        </div>
        @Html.Partial("_MainModal")
    </body>
    @Html.Partial("_ScriptsBottom")
    @RenderSection("scripts", required: false)
</html>
