<!DOCTYPE html>
<html id="index" lang="sv">
    @Html.Partial("_HtmlHead", new { ViewBag.Title })
    <body>
        <div class="container">
            @RenderBody()
        </div>
        @Html.Partial("_MainModal")
    </body>
    @Html.Partial("_ScriptsBottom")
    @RenderSection("scripts", required: false)
</html>
