<!DOCTYPE html>
<html id="index" lang="sv">
    @Html.Partial("_HtmlHead", new { ViewBag.Title })
    <body>
        @Html.Partial("_BackgroundCarousel")
        @RenderBody()
        @Html.Partial("_MainModal")
    </body>
    @Html.Partial("_ScriptsBottom")
    @RenderSection("scripts", required: false)
</html>
